* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
}

body {
    max-width: 1220px;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner {
    display: flex;
    justify-content: space-between;
    height: 303px;
    align-items: center;
}

.conteiner .left {
    max-width: 590px;
}

.conteiner .left p {
    color: var(--text-txt-secondary, rgba(60, 60, 67, 0.85));
    font: 400 24px Inter;
}

.conteiner .left h1 {
    color: var(--text-txt-primary, #000);
    font: 700 48px Inter;
    margin-top: 16px;
    margin-bottom: 40px;
}

.conteiner .left .buttons {
    display: flex;
    justify-content: flex-start;
}

.conteiner .left .buttons .btn1,
.conteiner .left .buttons .btn2 {
    border-radius: 8px;
    background: var(--brand-primary, #6F1DF4);
    width: 145px;
    padding: 15px 0;
    color: var(--pallete-white, #FFF);
    text-align: center;
    font: 700 16px Inter;

}

.conteiner .left .buttons div:not(:last-child) {
    margin-right: 24px;
}

.conteiner .right {
    background-image: url(./assets/404.png);
    width: 510px;
    height: 195px;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 100%;

}

@media (max-width: 768px) {

    body {
        max-width: 408px;
    }

    .conteiner {
        flex-direction: column-reverse;
        max-width: 408px;
        height: 400px;
        margin: auto;
        align-items: center;
        justify-content: center;
    }

    .conteiner .right {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 135px;
    }

    .conteiner .left p {
        font: 400 20px Inter;
        text-align: center;
        margin-top: 32px;
    }

    .conteiner .left h1 {
        font: 700 32px Inter;
        text-align: center;
    }

    .conteiner .left .buttons {
        margin: auto;
        justify-content: center;
    }

    .conteiner .left .buttons div:not(:last-child) {
        margin-right: 12px;
    }
}

@media (max-width: 375px) {
    body {
        max-width: 343px;
    }

    .conteiner {
        max-width: 343px;
        height: 400px;
        margin: auto;
    }

    .conteiner .right {
        width: 230px;
        height: 90px;
    }

    .conteiner .left p {
        font-size: 18px;
    }

    .conteiner .left h1 {
        font-size: 28px;
        text-align: center;
    }

    .conteiner .left p {
        font-size: 18px;
    }

    .conteiner .left .buttons {
        flex-direction: column;
        width: 90%;
    }
    .conteiner .left .buttons .btn1,
    .conteiner .left .buttons .btn2 {
        width: 100%;
    }
    .conteiner .left .buttons div:not(:last-child) {
        margin-bottom: 20px;
    }
}